certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.3
cycler==0.12.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.1
fsspec==2025.7.0
humanfriendly==10.0
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.9
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.5
mpmath==1.3.0
networkx==3.5
numpy==1.26.4
onnx==1.17.0
onnxruntime-gpu==1.15.0
onnxslim==0.1.65
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.2
pillow==11.3.0
platformdirs==4.3.8
protobuf==6.31.1
psutil==7.0.0
py-cpuinfo==9.0.0
pycuda==2025.1.1
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytools==2025.2.2
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
scipy==1.16.1
siphash24==1.7
six==1.17.0
sympy==1.14.0
tensorrt @ file:///C:/Users/user/PycharmProjects/enginedeneme/.venv/TensorRT/TensorRT-10.5.0.18.Windows.win10.cuda-11.8/python/tensorrt-10.8.0.43-cp311-none-win_amd64.whl#sha256=f8fce3daf187bdb2810053e2da09151c07e6cff9ebee9fbf8248d708e93f5071
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.184
ultralytics-thop==2.0.16
urllib3==2.5.0
